<p></p>
<div class="confirm">
  <h4>本当に退会しますか？</h4>

  <p class="confirm-text">
    退会すると、会員登録情報や<br/>
    これまでの購入履歴が閲覧できなくなります。<br/>
    退会する場合は、「退会する」をクリックしてください。
  </p>
  <div class="confirm-button">
    <div><%= button_to "退会しない", public_customers_path, method: :get, class: "button-blue" %></div>
    <div class="delete-button"><%= button_to "退会する", public_customers_withdrawal_path, method: :patch, class: "button-red" %></div>
  </div>
</div>