// Place all the styles related to the public/cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart_item {
  margin: auto;
  margin-bottom: 15px;
  width: 800px;
}

.cart_item-text-price, .cart_item-text-amount, .cart_item-text-subtotal, .cart_item-text-delete, .cart_item-text-name, .cart_item,
.cart_item-name, .cart_item-price, .cart_item-amount, .cart_item-subtotal, .cart_item-text-total, .cart_item-text-sum, .order-item-text {
  border: solid 1px;
}

.cart_item-text-name {
  width: 400;
}

.cart_item-text-price, .cart_item-text-amount, .cart_item-text-subtotal, .cart_item-text-delete, .cart_item-text-name, .cart_item-text-total {
  background-color: #eee;

}

.cart_item-price, .cart_item-amount, .cart_item-subtotal, .cart_item-delete {
  width: 100;
}

.information {
  text-align: center;
  margin: 50px 0 ;
}

.button-red {
  padding: 5px;
  background-color: #FF1A6F;
  color: #fff;
  border: none;
}
