// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.confirm {
  text-align: center;
  margin-top: 150px;
}

.confirm-text {
  padding: 15px;
}

.customer-edit {
  margin: 0 0 50px 50px;
}

.button-delete {
  margin-top: 10px;
}

.confirm-button {
  margin: auto;
}

.delete-button {
  margin-top: 10px;
}