// Place all the styles related to the admin/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .customer {
  margin: 30px;
 }

 .th1 {
  width: 200px;
 }

 th, .th1, td {
  padding: 10px;
 }

 .bottan-green {
  color: #fff;
  background-color: #00cc00;
  padding: 5px;
  border: none;
 }

 .bottan-blue {
  color: #fff;
  background-color: #1E90FF;
  padding: 5px;
  border: none;
 }

 .customer-text {
  margin-left: 100px;
 }