// Place all the styles related to the admin/genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.genres {
  margin-top: 50px;
}

.genre {
  width: 200px;
}

.edit, .new, .update, .orders {
  background-color: #00bb00;
  color: #fff;
}