<p></p>
<div class="container">
  <div class="row">
    <h2 class="col-md-4">注文情報確認</h2>
    <div class="col-md-8"></div>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
</table>